#pm-bar {
	width: 100%;
	height: 14px;
	padding: 1px;
	border: solid 1px #A4B3BF;
	border-radius: 3px;
	margin: -8px 0 8px 0;
}

#pm-bar-inner {
	width: 0;
	height: 100%;
	border: 0;
	border-radius: 3px;
	background-image: url('images/stripes.png');
	background-repeat: repeat;
	display: inline-block;
}

.normal-bar {
	background-color: #32cd32;
}

.danger-bar {
	background-color: #f08080;
}

.rtl #pm-bar {
	text-align: right;
}
