.pmbars-outer {
	background-color: #ecedee;
	border-radius: 30px;
	overflow: hidden;
	width: 100%;
	height: 8px;
	margin: -8px 0 8px;
}

.pmbars-inner {
	background: #28a745;
	border-radius: 30px;
	height: 100%;
	transform: scaleX(0);
	transform-origin: left;
	will-change: transform;
	animation: pmbars-animate 1s ease-out forwards;
}

.pmbars-inner.pmbars-no-animate {
	transform: scaleX(1);
	animation: none;
}

.rtl .pmbars-inner {
	transform-origin: right;
}

.pmbars-danger {
	background: linear-gradient(to right, #28a745 85%, #dc3545 95%);
}

.rtl .pmbars-danger {
	background: linear-gradient(to left, #28a745 85%, #dc3545 95%);
}

@keyframes pmbars-animate {
	from {
		transform: scaleX(0);
	}

	to {
		transform: scaleX(1);
	}
}
