{% if FOLDER_PERCENT %}
<script>

	(function() {
		'use strict';

		const showBar = (element) => {
			const settings = {
				folder: 'pmbars:{{ CUR_FOLDER_ID }}',
				percent: {{ FOLDER_PERCENT }}, // Ensure percent is an integer,
				dangerZone: 80,
				speed: 1000
			};

			// Add or remove 'pmbars-danger' class based on the danger zone threshold
			element.classList.toggle('pmbars-danger', settings.percent > settings.dangerZone);

			if (sessionStorage.getItem(settings.folder)) {
				element.style.width = `${+settings.percent}%`;
			} else {
				// Smoothly animate the width
				let start = null;
				const animateWidth = (timestamp) => {
					if (!start) start = timestamp;
					const progress = Math.min((timestamp - start) / settings.speed, 1);
					element.style.width = `${progress * settings.percent}%`;

					if (progress < 1) {
						requestAnimationFrame(animateWidth);
					} else {
						sessionStorage.setItem(settings.folder, settings.percent);
					}
				};
				requestAnimationFrame(animateWidth);
			}
		};

		// Create the outer and inner div elements
		const outerDiv = document.createElement('div');
		outerDiv.classList.add('pmbars-outer');

		const innerDiv = document.createElement('div');
		innerDiv.classList.add('pmbars-inner');
		outerDiv.appendChild(innerDiv);

		// Find the #viewfolder element and insert the bar after the first <p> element
		const viewFolder = document.getElementById('viewfolder');
		if (viewFolder) {
			const firstParagraph = viewFolder.querySelector('p');
			if (firstParagraph) {
				firstParagraph.insertAdjacentElement('afterend', outerDiv);
				showBar(innerDiv);
			}
		}
	})();
</script>
{% endif %}
